*{
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #4a4784;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    height: 100vh; 
    text-align: center; 
}

.container {
    padding: 30px;
    margin-bottom: 5rem;
}

.header {
    margin-bottom: 1rem;
}

h1 {
    color: #fff;
}

h1 i {
    color: rgb(255, 43, 5);
}

textarea {
    width: 600px;
    height: 250px;
    background: #6d6ab6;
    color: #ffffff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 20px;
}

textarea::placeholder {
    font-size: 16px;
    color: #fff;
}

.row {
    width: 600px;
    display: flex ;
    align-items: center;
    gap: 20px;
}

button {
    background: #ff2963;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button img {
    width: 16px;
    margin-right: 10px;
    mix-blend-mode: multiply;
}

select {
    flex: 1;
    color: #fff;
    background: #6d6ab6;
    width: 100px;
    height: 40px;
    padding: 0 20px; 
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url(dropDownButton.png);
    background-repeat: no-repeat;
    background-size: 15px; 
    background-position: right 10px center;
    cursor: pointer;
}   